[submodule "packages/artbollocks-mode"]
	path = packages/artbollocks-mode
	url = https://github.com/sachac/artbollocks-mode.git
[submodule "packages/mu"]
	path = packages/mu
	url = https://github.com/djcb/mu.git
